nav, footer {
  width: 100%;
  text-align: center;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
  padding: 0 1%;
}

a[href^='mailto\:']::before {
    content: '';
}

blockquote {
  border-left-color: rgba(3, 147, 3, 1);
}
